body {
    background-color: antiquewhite;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}

img#imgcat {
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgb(255, 200, 132);
    max-width: 480px;
    max-height: 480px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(226, 171, 100);
    padding: 5px 10px;
    font-weight: 500;
    font-size: 28px;
}

a:hover {
    color: rgb(228, 137, 19);
    transition-duration: 0.3s;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

img.logo {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button.account-remove {
    background-color: rgb(202, 11, 11);
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
}

button.account-remove:hover {
    background-color: rgb(204, 47, 47);
    transition-duration: 0.3s;
}